/* Secondary HomePage highlights */
.home-highlights {
	padding-bottom: 0;
}
.home-highlights.secondary{
	padding-top: 20px;
	padding-bottom: 5em;
}

.hero-text li a{
	background: #00B4BF;

}

#google_translate_element{
	padding-top: 7px;
}

.module .media {
border-bottom: 4px solid #00B4BF;
}

.header {
	background: #fff url(../images/nav_yellow.gif) repeat-x left bottom;
}

.module.facebook{
	overflow: hidden;

	iframe{
		width: 100% !important;
	}
}

/* escape button */

#exit {
	display: none;
	@media (min-width: $break-large) { 
		display: block;
		background: url('../images/exit.gif') top;
		position: fixed;
		width:40px;
		height: 196px;
		top:45%;
		z-index: 101;
	}

}

#exit:hover {
	
	background-position: bottom; 
	cursor: pointer;
}

.hero {
border-bottom: 5px solid #00B4BF !important;
position: relative;
padding: 2em 0;
background-color: #FFF;
}


.hero-link:after {
	
	border-color: transparent transparent transparent #00B4BF;

}