.footer-logo-area {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 15px;
	p{
		margin: 0.6667em 0;
	}

}

.footer-logo-area__logo{
	max-height: 160px;
	display: block;
	margin: auto;
}

#mc_embed_signup form {
	padding: 0;
	width: 280px;
}

#mc_embed_signup input {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#mc_embed_signup .clear{
	clear: none;
	display: inline;
	float: none;
}
#uiowa-bar #uiowa-search .links a{

	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "proxima-nova-condensed"	
}

.division-bar__link:after{
	opacity: 1;
	transform: translateY(0);
	visibility: visible
}

.support{
	
	text-align: center;
	clear: both;
	display: block;
	margin: rem-calc(20) 0;
	&__link{
		font-size: rem-calc(16);
		font-weight: bold;
		padding: rem-calc(5) 0;
		
		color: #222;
		text-transform: uppercase;
		font-family: "proxima-nova-condensed";
		
			border-bottom: 2px solid $highlight;
	
		
	}


	
}

.directory__button{
	-webkit-appearance: none;
-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
align-items: flex-start;
background-color: rgb(0, 109, 204);
background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
background-repeat: repeat-x;
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.0980392);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0980392);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0980392);
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-size: 16px;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 38px;
letter-spacing: normal;
line-height: 18px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 9px;
padding-left: 14px;
padding-right: 14px;
padding-top: 9px;
text-align: center;
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
text-transform: none;
vertical-align: middle;
width: 145.28125px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}

.geo-message{
	background-color: darken($highlight, 20);
	color: white;
	padding: rem-calc(10);
    a{
        color: #eee;
    }
}
#Form_CountyForm_County_Holder label{
	@extend .show-for-sr;
}


.project{
	background: #efefef;
	padding: rem-calc(10);

	&__cat-name{
		margin: 0;
	}
}

.resource{

	&__cat-name{
		border-bottom: 2px solid #333;
		padding-bottom: rem-calc(10);
	}

}


.white-popup-block {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 950px;
	margin: 20px auto;
}
