.footer-logo-area {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 15px;
	p{
		margin: 0.6667em 0;
	}

}

.footer-logo-area__logo{
	max-height: 160px;
	display: block;
	margin: auto;
}

#mc_embed_signup form {
	padding: 0;
	width: 280px;
}

#mc_embed_signup input {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#mc_embed_signup .clear{
	clear: none;
	display: inline;
	float: none;
}
#uiowa-bar #uiowa-search .links a{

	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "proxima-nova-condensed"	
}

.division-bar__link:after{
	opacity: 1;
	transform: translateY(0);
	visibility: visible
}

.support{
	
	text-align: center;
	clear: both;
	display: block;
	margin: rem-calc(20) 0;
	&__link{
		font-size: rem-calc(16);
		font-weight: bold;
		padding: rem-calc(5) 0;
		
		color: #222;
		text-transform: uppercase;
		font-family: "proxima-nova-condensed";
		
			border-bottom: 2px solid $highlight;
	
		
	}


	
}