#uiowa-bar #uiowa-search .links a{

	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "proxima-nova-condensed"	
}

.division-bar__link:after{
	opacity: 1;
	transform: translateY(0);
	visibility: visible
}

.blogmeta__support{
	padding: rem-calc(15) 0;
	font-size: rem-calc(16);
	background: $highlight;
	color: white;
	padding: rem-calc(5);
	margin: rem-calc(20) 0;
	border-radius: rem-calc(5);
	text-align: center;
	clear: both;
	display: block;
	a{
		color: white;
	}
}